.nav-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  li {
    border: 1px solid #d6e2eb;
    border-right-color: transparent;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
    color: #1869c0;
    cursor: pointer;
    @include transition(all .3s ease);
    &:last-child {
      border-right-color: #d6e2eb;
    }
    span {
      padding: 10px 5px;
      display: block;
    }
    &:hover {
      color: #333333;
      background-color: #f3f3f3;
    }
    &.active {
      box-shadow: inset 0 3px 0 0 #d10015;
      color: #333333;
      cursor: default;
      background-color: #fff;
      border-bottom-color: #fff;
    }
  }
}

.tab-content {
  > .tab-pane {
    display: none;
    background-color: #fff;
  }
  > .active {
    display: block;
  }
}
