<header class="top-panel">
    <div class="logo-area">
        <a href="#" class="logo">ИАС МКР города Москвы</a>
        <div class="description">Мониторинг государственных учреждений города Москвы</div>
    </div>
    <div class="system-nav">
        <ul class="menu">
            <li><a href="#">Новости</a></li>
            <li class="active"><span>Паспорт ГУ</span></li>
            <li class="sub-menu">
                <a href="#">Отчеты</a>
                <ul class="submenu">
                    <li>
                        <a href="#">Главная</a>
                        <ul>
                            <li><a href="#" class="news">Новости</a></li>
                            <li>
                                <span>Данные</span>
                                <ul class="level-4">
                                    <li><a href="#">Адресные перечни</a></li>
                                    <li><a href="#">Объекты</a></li>
                                    <li><a href="#">Карта города</a></li>
                                    <li><a href="#">Тендеры</a></li>
                                    <li><a href="#">Контракты</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Управление</span>
                                <ul>
                                    <li><a href="#">Редактор показателей</a></li>
                                    <li><a href="#">Конструктор шапок</a></li>
                                    <li><a href="#">Редактор колонок</a></li>
                                    <li><a href="#">Конструктор отчетов</a></li>
                                    <li><a href="#">Отложенные расчеты</a></li>
                                    <li><a href="#">Конструктор боковиков</a></li>
                                    <li><a href="#">История расчетов</a></li>
                                    <li><a href="#">Редактор классификатора</a></li>
                                    <li><a href="#">Показатели здоровья системы</a></li>
                                </ul>
                            </li>
                            <li><span>Аналитика</span>
                                <ul>
                                    <li><a href="#">Отчеты</a></li>
                                    <li><a href="#">Контрольный отчет</a></li>
                                    <li><a href="#">Программа модернизации</a></li>
                                    <li><a href="#">Отчетность</a></li>
                                    <li><a href="#">Планирование бюджета</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Презентация</a></li>
            <li><a href="#">Конструктор</a></li>
            <li><a href="#">Книга</a></li>
        </ul>
        <form action="/" class="find">
            <input type="search" class="search-input" placeholder="Быстрый поиск государственного учреждения">
            <button type="button" class="btn btn-blue">Найти</button>
        </form>
    </div>

    <ul class="user-menu">
        <li>
            <a href="#" class="icon notice">Уведомления</a>
        </li>
        <li>
            <a href="#" class="icon nav sub-menu">Навигация</a>
            <ul class="submenu">
                <li>
                    <a href="#">Главная</a>
                    <ul>
                        <li><a href="#" class="news">Новости</a></li>
                        <li>
                            <span>Данные</span>
                            <ul class="level-4">
                                <li><a href="#">Адресные перечни</a></li>
                                <li><a href="#">Объекты</a></li>
                                <li><a href="#">Карта города</a></li>
                                <li><a href="#">Тендеры</a></li>
                                <li><a href="#">Контракты</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>Управление</span>
                            <ul>
                                <li><a href="#">Редактор показателей</a></li>
                                <li><a href="#">Конструктор шапок</a></li>
                                <li><a href="#">Редактор колонок</a></li>
                                <li><a href="#">Конструктор отчетов</a></li>
                                <li><a href="#">Отложенные расчеты</a></li>
                                <li><a href="#">Конструктор боковиков</a></li>
                                <li><a href="#">История расчетов</a></li>
                                <li><a href="#">Редактор классификатора</a></li>
                                <li><a href="#">Показатели здоровья системы</a></li>
                            </ul>
                        </li>
                        <li><span>Аналитика</span>
                            <ul>
                                <li><a href="#">Отчеты</a></li>
                                <li><a href="#">Контрольный отчет</a></li>
                                <li><a href="#">Программа модернизации</a></li>
                                <li><a href="#">Отчетность</a></li>
                                <li><a href="#">Планирование бюджета</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon reference">Справка</a>
        </li>
        <li>
            <a href="#" class="icon doc">Документы</a>
        </li>
        <li>
            <a href="#" class="icon user">User Login</a>
        </li>
    </ul>
</header>
