<div class="wrapper-left">
    <section class="column filter-block">
        <div class="top-block">
            <h2 id="fold-filter" title="Скрыть/Закрыть колонку">фильтр</h2>
        </div>
        <div class="scroll-container">
            <select placeholder="Не выбрано">
                <option value="">Не выбрано</option>
                <option value="1">Chuck Testa</option>
                <option value="4">Sage Cattabriga-Alosa</option>
                <option value="3">Nikola Tesla</option>
            </select>
        </div>
        <div class="bottom-block">
            <button type="button" class="btn btn-blue">Применить</button>
            <div class="rollup" data-toggle="tooltip" title="Сбросить фильтр"></div>
            <div class="save">
                <button type="button" class="btn btn-light">Сохранить</button>
            </div>
        </div>
    </section>
    <section class="column list-establishments">
        <div class="top-block">
            <h2 id="fold-list" title="Скрыть/Закрыть колонку">Список учреждений</h2>
        </div>
        <div class="scroll-container">
            <ul class="menu-establishments">
                <li>ГБУК г. Москвы "МДТ им. А.С. Пушкина"</li>
                <li>ГАУК г. Москвы "ПКиО "Бабушкинский"</li>
                <li>ГБУК г. Москвы "МАМТ"</li>
                <li>ГБУК г. Москвы "Московский академический театр им. Вл. Маяковского"</li>
                <li>ГБУК г. Москвы "Московский государственный театр "Ленком"</li>
                <li>ГБУК г. Москвы "Московский театр п/р О.Табакова"</li>
                <li>ГБУК г. Москвы "ММТ "Геликон-опера"</li>
                <li>ГБУК МТ "Новая Опера" им.Е.В.Колобова</li>
                <li>Московский объединенный музей-заповедник</li>
                <li>ГБУК "МГАТО"</li>
                <li>ГАУК г. Москвы МГС "Эрмитаж"</li>
                <li>"Московский театр "Современник"</li>
                <li>ГАУК г. Москвы "Культурный центр ЗИЛ"</li>
                <li>ГБУК г. Москвы "МТКЦ Павла Слободкина"</li>
                <li>ГБУК г.Москвы "Театр им. Моссовета"</li>
                <li>ГБУК г. Москвы "ЦКД "Зеленоград"</li>
                <li>ГАУК г.Москвы "Измайловский ПКиО"</li>
                <li class="active">ЦПКиО им. М. Горького</li>
                <li>ГБУК ГДМ</li>
                <li>ГБУК г. Москвы "Москонцерт"</li>
                <li>ГБУК г. Москвы "Виртуозы Москвы"</li>
                <li>ГБУК г. Москвы "Культурный центр "Москвич"</li>
                <li>ГБУК г. Москвы "Московский академический театр сатиры"</li>
                <li>ГБУК г. Москвы "ГМЗ "Царицыно"</li>
                <li>Московский государственный институт музыки имени&nbsp;</li>
                <li>А. Г. Шнитке</li>
                <li>ГБОУ СПО г. Москвы "МТК при ГБУК г. Москвы "Московский театр под руководством О.Табакова"</li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </section>
</div>
