html {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  @include font-size(13px);
  height: 100%;
  width: 100%;
  color: #333333;
  line-height: 1.5;
  background-color: #fff;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #1869c0;
  text-decoration: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn {
  @include font-size(13px);
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  &.btn-blue {
    color: #fff;
    background-color: #529acd;
    &:hover, &:active, &:focus {
      background-color: rgba(82, 154, 205, 0.8);
    }
  }
  &.btn-light {
    outline: 1px solid #529acd;
    color: #1869c0;
    background-color: transparent;
    &:hover, &:active, &:focus {
      outline: 1px solid #529acd;
      color: #1869c0;
      background-color: #fff;
    }
  }
}

.wrapper {
  height: 100%;
  padding-top: 100px;
  display: flex;
}

.mob-version {
  display: none;
  text-align: center;
}

@include to('l') {
  header.top-panel, .wrapper {
    display: none;
  }
  .mob-version {
    display: block;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #717171;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0 1px 1px #f0f0f0;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}

.form-group {
  margin-bottom: 15px;
}
