.top-panel {
  width: 100%;
  height: 100px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d6e2eb;
  .logo-area {
    @include clearfix;
    padding-top: 20px;
    @include from('xl') {
      width: 255px;
    }
    .logo {
      @include font-size(16px);
      font-weight: bold;
      color: #43688f;
      &:before {
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
        content: '';
        width: 33px;
        height: 41px;
        background: url(../img/spritesheet.png) no-repeat -57px -37px;
      }
      &:hover {
        opacity: .8;
      }
    }
    .description {
      color: #535353;
    }
  }

  .submenu {
    width: 375px;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    list-style: none;
    box-shadow: 0 3px 1px 1px rgba(0, 0, 0, .1);
    ul {
      list-style: none;
      padding: 0 0 0 17px;
      margin-top: 5px;
      li:not(:last-child) {
        margin-bottom: 5px;
      }
      a {
        position: relative;
        transition: all 0.3s linear;
        &:before {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../img/spritesheet.png) no-repeat -31px -37px;
          position: absolute;
          left: -25px;
          top: 0;
          opacity: 0;
          transition: all 0.2s linear;
        }
        &:not(.news):hover {
          text-decoration: underline;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .system-nav {
    padding: 15px 15px 0;
    .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      > li {
        padding-top: 5px;
        border-top: 3px solid transparent;
        position: relative;
        white-space: nowrap;
        a {
          &:hover {
            opacity: .7;
          }
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
        &.active {
          border-top-color: #d10015;
          color: #333;
        }
        .submenu {
          width: 260px;
          z-index: 10;
          top: 22px;
          left: 0;
        }
        &.sub-menu::after {
          width: 8px;
          height: 5px;
          display: inline-block;
          vertical-align: middle;
          opacity: .5;
          content: '';
          background: url(../img/spritesheet.png) no-repeat -37px -69px;
        }
        &:hover {
          .submenu {
            display: block;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }
    .find {
      margin-top: 10px;
      display: flex;
      .search-input {
        width: 410px;
        height: 28px;
        padding: 0 0 0 15px;
        margin-right: 10px;
        float: left;
        border: 1px solid #d1d1d1;
      }
      .btn {
        &:before {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../img/spritesheet.png) no-repeat -100px -69px;
          position: absolute;
          top: 50%;
          left: -35px;
          margin-top: -8px;
        }
      }
    }
  }
  .user-menu {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include between('m','l') {
      .item {
        display: none;
      }
    }
    .submenu {
      width: 362px;
      top: 80px;
      right: 0;
    }
    > li, ul > li, .icon {
      height: 100%;
    }
    > li {
      text-align: center;
      @include font-size(13px);
      .icon {
        color: #838383;
        display: inline-block;
        transition: .4s;
        padding: 30px 15px 0;
        position: relative;
        z-index: 7;
        &::before {
          width: 22px;
          height: 22px;
          content: '';
          display: block;
          margin: 0 auto 5px;
          background: url(../img/spritesheet.png) no-repeat;
        }
        &.notice::before {
          width: 18px;
          background-position: -100px -37px;
        }
        &.nav::before {
          background-position: -109px -5px;
        }
        &.reference::before {
          background-position: -5px -69px;
        }
        &.doc::before {
          width: 18px;
          background-position: -81px -5px;
        }
        &.user::before {
          background-position: -37px -95px;
        }
        &:hover {
          color: #333;
          background-color: #fff;
          &::before {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }
      }
      &:hover ul li {
        display: block;
      }
      .open {
        z-index: 10;
        background-color: #fff;
        + .submenu {
          min-height: 320px;
          z-index: 9;
          display: block;
          padding-top: 30px;
        }
        &::after {
          width: 10px;
          height: 10px;
          content: '';
          position: absolute;
          bottom: 0;
          right: -252px;
          background: url(../img/spritesheet.png) -36px -81px no-repeat;
        }
      }
    }
    .news {
      background-color: #d10015;
      color: #fff;
      padding: 2px 4px;
      &:hover {
        background-color: #1869c0;
        text-decoration: none;
      }
    }
  }
}
