html {
  height: 100%;
  width: 100%;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #333333;
  @include font-size(13px);
  line-height: 1.5;
  background-color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #1869c0;
  text-decoration: none;
}

.btn {
  @include font-size(13px);
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  &.btn-blue {
    color: #fff;
    background-color: #529acd;
    &:hover, &:active, &:focus {
      background-color: rgba(82, 154, 205, 0.8);
    }
  }
  &.btn-light {
    outline: 1px solid #529acd;
    color: #1869c0;
    background-color: transparent;
    &:hover, &:active, &:focus  {
      outline: 1px solid #529acd;
      color: #1869c0;
      background-color: #fff;
    }
  }
}

.wrapper {
  height: 100%;
  padding-top: 100px;
}
